@layer base {
  html,
  body {
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
  }
  body {
    @apply mx-auto max-w-3xl p-3 antialiased min-h-screen;
  }

  ::selection {
    color: aliceblue;
    background-color: rgb(61, 220, 151);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c82f57;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
